body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-right-btns {
  margin-top: 6px;
}

.searcher-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-btns>div>input[type="checkbox"]+div>div {
  margin-right: 0 !important;
}

.dbresults-image {
  margin: 8px 3px;
}

