body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.searcher-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dbresults-image {
  margin: 10px 5px;
}